////////////////////////////////////
////////////---Body---//////////////
////////////////////////////////////



///////////////////////////////////
///////////---About---/////////////
///////////////////////////////////

.about {
	align-items: center;

	h1 {
		font-size: 44px;
		font-weight: 300;
		max-width: 940px;
	}

}

////////////////////////////////////
////////////---Dark---//////////////
////////////////////////////////////

body.dark {
	background-color: $background-dark;
	color: $text-dark;

	.about {

		&__bio {
			p {
				color: $text-dark;
			}

			h2 {
				color: $headings-dark;
			}
		}

		.career-path {
			border-color: transparent;
			background-color: rgba($white, .08);

			&__divider {
				border-color: rgba($white, .2);
			}

			&__button {
				background-color: rgba($white, .05);
				border-top: 0px;
			
				&__a {
					color: $primary-dark;
				}

			}

		}

		.career-item {

			&--active {

				.career-item__dot {
					background-color: $complementary-dark;
				}
				
			}

			&__dot {
				border: 0px;
			}

			&__info {

				span {
					color: rgba($headings-dark, 0.6);
				}

				p {
					color: $headings-dark;
				}

			}

		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 992px) {

	.about {

		h1 {
			font-size: 36px;

			br {
				display: none;
			}

		}

	}

}

@media only screen and (max-width: 800px) {

	.about {

		h1 {
			font-size: 28px;
		}

	}

}

@media only screen and (max-width: 650px) {
	
	.about {
			
	}

}