/////////////////////////////////////////
///////////---Experience---//////////////
/////////////////////////////////////////

section#experience {
	@include grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(11, 1fr);
    align-items: start;
    padding: 0px 40px;
    max-width: $content-width;
    margin: auto;
}

.section-content.experience {
    padding: 0px;
	grid-column: 3 / 10;
}

.experience-outer {
	border: 1px solid $border-light;
	background-color: $white;
	transition: background-color .4s ease;
}

.centered-links {
	@include flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid $border-light;
	padding: 24px 0px;
}

.experience-links {
	@include flex;
	align-items: center;
	width: 100%;
	max-width: 880px;
	padding: 0px $hz-padding-desktop;
	gap: 56px;

	.link-container {
		@include flex;
		align-items: center;
		gap: 8px;

		img {
			max-width: 36px;
		}

		i {
			font-size: 1.1em;
		}

		a {
			color: $text-light;
			font-weight: 400;
			font-size: 16px;

			&:hover {
				color: $primary-light;
			}

		}

		.ph-linkedin-logo {
			color: #0072B1 !important;
		}

	}

	&__divider {
		height: 16px;
		width: 1px;
		background-color: rgba($headings-light, .2);
	}

}

.experience-container {

	hr.experience-divider {
		background-color: rgba($border-light, .06);
	    border: 0 none;
	    color: rgba($border-light, .06);
	    height: 1px;
	}

	.experience-item {
		width: 100%;
		max-width: 880px;
		margin: auto;
		padding: 48px $hz-padding-desktop;

		&__header {

			&__info {
				@include flex;
				align-items: center;
				gap: 6px;
				margin-bottom: 16px;
				font-size: 16px;

				a {
					color: $primary-light;
					font-weight: 400;
				}

			}

			h3 {
				font-family: $heading-font;
				font-size: 26px;
				font-weight: 700;
				margin-bottom: 20px;
				line-height: 1.3em;
			}

		}

		&__list {
			line-height: 1.6em;
			font-weight: 400;
			padding-left: 24px;
			font-size: 16px;

			li {
				font-weight: 300;
				margin-bottom: 8px;
			}

		}

	}

}


///////////////////////////////////
///////////---Dark---//////////////
///////////////////////////////////

body.dark {

	.experience-outer {
		background-color: $bg-lvl-1-dark;
	}

	.centered-links {
		border-bottom: 1px solid rgba($white, .06);
	}

	.experience-links {

		.link-container {

			a {
				color: $text-dark;
			}

			i {
				color: $headings-dark;
			}

		}

	}

	.experience-container {

		.experience-item {

			&__header {

				&__info {

					a {
						color: $primary-dark;
					}

				}

				h3 {
					color: $headings-dark;
				}

			}

		}

		.experience-divider {
			background-color: rgba($white, .04);
		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////


@media only screen and (max-width: 1200px) {

	.section-content.experience {
		grid-column: 2 / 11;
	}

}

@media only screen and (max-width: 1080px) {

	section#experience {
		display: block;
		padding: 0px;
	}

	.section-content.experience {
		padding: 0px 40px;
	}

}

@media only screen and (max-width: 768px) {

	.experience-container {

		.experience-item {
			padding: 40px $hz-padding-tablet;
		}

	}

	.centered-links {
		margin-bottom: 8px;
	}

	.experience-links {
		display: block;
		padding: 0px $hz-padding-tablet;

		&__divider {
			display: none;
		}

		.link-container {
			margin-bottom: 24px;

			&:last-of-type {
				margin-bottom: 0px;
			}

			&--icon {
				margin-left: 5px;
				gap: 14px;
			}

			i {
				font-size: 26px;
				padding-top: 2px;
			}

		}

	}

}

@media only screen and (max-width: 650px) {

	.experience-container {

		.experience-item {
			padding: 24px $hz-padding-mobile;
			font-size: 16px;

			&__header {

				h3 {
					font-size: 24px;
				}

			}

		}

	}

	.experience-links {
		padding: 0px $hz-padding-mobile;

		.link-container {
			margin-bottom: 20px;
		}

	}

}