////////////////////////////////////
/////////---Navigation---///////////
////////////////////////////////////

.skip-nav {
    position: absolute;
    left: -140px;
    top: calc(#{$nav-height} + 16px);
	font-size: 1em;
    color: $headings-light;
    z-index: 99999;

    &:focus, &:focus-visible {
    	left: 24px;
    }

}

nav.desktop-nav {
	@include flex;
	justify-content: center;
	width: 100%;
	height: $nav-height;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	background-color: $background-light;
	margin: auto;
	transition: background-color .3s ease, color .3s ease, box-shadow .3s ease, height .3s ease;

	.inner {
		@include flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		max-width: $content-width;
		padding: 24px $hz-padding-desktop;
	}

	&--min {
		height: $nav-height-min;
		background-color: rgba($background-light, .6);
		backdrop-filter: blur(12px);
		-webkit-backdrop-filter: blur(12px);
		border-bottom: 1px solid rgba($border-light, .04);

		.inner {
			padding: 12px $hz-padding-desktop;
		}

		.nav-bio__image {
			height: 0px;
			width: 0px;
		}

		.theme-button {
			height: 40px;
			width: 40px;

			i {
				font-size: 18px;
			}

		}

		.nav-link {
			font-size: $nav-link-text-min;
		}

		.menu-button {

			i {
				font-size: 36px;
			}

		}

	}

	&.shadow {
		box-shadow: 2px 4px 12px rgba($headings-light, .03);
	}

}

.nav-bio {
	@include flex;
	align-items: center;
	font-family: $heading-font;
	gap: 16px;

	&__image {
		height: 64px;
		width: 64px;
		border-radius: 100%;
		transition: height .3s ease, width .3s ease, opacity .3s ease;
		opacity: 1;
		position: absolute;

		&--dark {
			opacity: 0;
			visibility: hidden;
		}

	}

}

.nav-links-container {
	@include flex;
	align-items: center;
	gap: 40px;
}

.nav-links {
	@include flex;
	align-items: center;
	gap: 40px;
	margin: 0px;
	padding: 0px;
}

.nav-link {
	display: inline-block;
	font-family: $heading-font;
	font-size: $nav-link-text;
	white-space: nowrap;
	transition: font-size .3s ease;

	&__number {
		color: $primary-light;
		font-weight: 300;
		text-decoration: none;
		transition: color .3s ease;
	}

	&__link {
		color: $text-light;
		font-weight: 500;
		transition: color .3s ease;
		text-decoration: none;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 2px;
			margin-top: 10px;
			opacity: 0;
			background-color: $headings-light;
			transition: opacity .3s ease, width .3s ease;
		}

		&:hover::after,
		&:focus::after {
			width: 100%;
			opacity: 1;
		}

	}

}

.theme-button {
	@include flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	width: 56px;
	border-radius: 100%;
	border: 0px;
	// background-color: rgba($primary-light, .08);
	background-image: url("../media/dark-sky-bg.png");
	background-size: 60px;
	color: $white;
	cursor: pointer;
	transition: background-color .3s ease, height .3s ease, weidth .3s ease, background-position .4s ease;

	&:hover {
		background-color: rgba($primary-light, .15);
		background-position-y: -4px;

		i {
			font-size: 28px;
		}

	}

	&:focus-visible {
		border-radius: 100%;
	}

	i {
		font-size: 26px;
		transition: font-size .4s ease, color .4s ease;
	}

	&--dark {
		background-image: url("../media/blue-sky-bg.png");

		i {
			color: #FAC619; // yellow
		}

	}

}

.menu-button {
	align-items: center;
	justify-content: center;
	border: 0px;
	height: 40px;
	width: 40px;
	background-color: transparent;
	padding: 0px;
	padding-top: 2px;
	cursor: pointer;

	i {
		font-size: 44px;
		color: $headings-light;
		transition: font-size .3s ease;
	}

	&--open {
		display: none; // Hide on desktop
	}

	&--close {
		padding-top: 0px;
		margin-bottom: 4px;

		i {
			font-size: 36px;
		}

	}

}

.mobile-nav {
	background-color: $white;
	position: fixed;
	top: 0;
	right: -280px; // Off screen to slide in
	z-index: 999999;
	width: 280px;
	// height: 100vh;
	min-height: 620px;
	box-shadow: -10px 4px 28px 0px rgba($headings-light, .08);
	@include transitionAll;
	padding: 0px 24px;

	&--visible {
		right: 0px;
	}

	&__header {
		@include flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 0px;
		margin-bottom: 32px;
	}

	&__links {

		.nav-links {
			display: block;
			padding-left: 8px;
			margin-bottom: 48px;

			.nav-link {
				display: block;
				margin-bottom: 32px;
				font-size: 1.3em;

				&:last-of-type {
					margin-bottom: 0px;
				}

			}

		}

	}

	.experience-links {
		border: 0px;
		border-top: 1px solid rgba($headings-light, .05);
		border-radius: 0px;
		padding: 24px 0px;
		position: absolute;
		bottom: 0px;
		width: calc(100% - 48px);
	}

}

footer {
	font-size: 14px;
	font-weight: 400;
	padding: 48px 40px;
	margin-top: 100px;

	.footer {
		@include flex;
		gap: 8px;
		justify-content: center;
		align-items: center;
		font-weight: 300;

		i {
			font-weight: 200;
			font-size: 20px;
		}

	}

}

////////////////////////////////////
//////////---Dark Mode---///////////
////////////////////////////////////

body.dark {

	nav {

		&.desktop-nav {
			background-color: $background-dark;
			color: $white;
			box-shadow: none;
		}

		.nav-link {
			&__link {
				color: $white;
				&::after {
					background-color: $white;
				}
			}
			&__number {
				color: $primary-dark;
			}
		}

	}

	.mobile-nav {
		background-color: $bg-lvl-1-dark;
		box-shadow: -10px 4px 28px 0px rgba($headings-light, .5);

		.experience-links {
			background-color: transparent;
			border-top: 1px solid rgba($white, .15);
		}

	}

	.menu-button {

		i {
			color: $headings-dark;
		}

	}

	.nav-bio__image--dark {
		opacity: 1;
		visibility: visible;
	}

	.nav-bio__image--light {
		opacity: 0;
		visibility: hidden;
	}

}


/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////


@media only screen and (max-width: 768px) {

	nav.desktop-nav {
		// height: $nav-height-mobile;
	}

	.nav-links-container {
		gap: 24px;
	}

	nav.desktop-nav .nav-links {
		display: none;
	}

	#dark_button_mobile {
		display: none;
	}

	.menu-button--open {
		@include flex;
	}

}

@media only screen and (max-width: 650px) {

	nav.desktop-nav {

		.inner {
			padding-left: $hz-padding-mobile !important;
			padding-right: $hz-padding-mobile !important;
		}

	}

}