/////////////////////////////////////
///////////---Skills---//////////////
/////////////////////////////////////

.skill-filters {
	@include flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 0px 0px 48px 0px;
}

.filter-item {
	background-color: rgba($white, .4);
	border-radius: 24px;
	padding: 8px 20px 8px 46px;
	border: 1px solid rgba($headings-light, .15);
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.1em;
  font-weight: 400;

  &--active {
  	border-color: rgba($headings-light, .6);
  	font-weight: 600;
  	background-color: $white;
  }

	// Hide default checkbox
	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}

	// Custom checkbox
	.checkbox {
	  position: absolute;
	  top: 10px;
	  left: 16px;
	  height: 20px;
	  width: 20px;
	  background-color: $white;
	  border: 1px solid rgba($headings-light, .6);
	  border-radius: 100%;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .checkbox {
	  background-color: $headings-light;
	}

	// Checkbox indicator
	.checkbox:after {
	  content: "";
	  position: absolute;
	  display: none;
	  left: 7px;
	  top: 3px;
	  width: 5px;
	  height: 10px;
	  border: solid $white;
	  border-width: 0 2px 2px 0;
	  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	input:checked ~ .checkbox:after {
	  display: block;
	}

}

.skills-container {
	@include grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	grid-column-gap: 24px;
	grid-row-gap: 48px;
	padding-top: 24px;
	padding: 0px 8px;
}

.skill {
	@include grid;
	grid-template-columns: 80px 1fr;;
	grid-column-gap: 16px;
	align-items: center;

	&__icon {
		@include flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		width: 80px;
		background-color: $white;
		border-radius: $border-radius-default;
		@include tileShadow;
		padding: 16px;

		img {
			width: 48px;
			height: 48px;
			object-fit: scale-down;
			transition: filter .4s ease;
		}

	}

	&__info {

		p {
			font-weight: 600;
			font-size: 1.4em;
			color: $headings-light;
			@include transitionAll;
		}

		span {
			font-size: 1.1em;
			@include transitionAll;
			/* Added on 2/5/25 */
			display: none;
		}

	}

}

///////////////////////////////////
///////////---Dark---//////////////
///////////////////////////////////

body.dark {
	
	.skill-filters {

		.filter-item {
			border: 0px;
			background-color: rgba($white, .1);
			color: $text-dark;

			.checkbox {
				background-color: transparent;
				border-color: $text-dark;
			}
			
			&--active {
				background-color: $white;
				color: $headings-light;

				.checkbox {
					background-color: $headings-light;
					border-color: $headings-light;
				}

			}

		}

	}

	.skill {

		&__icon {
			background-color: rgba($white, .15);
			box-shadow: none;

			img.invert {
				filter: invert(1);
			}

		}

		&__info {

			p {
				color: $white;
			}

			span {
				color: $text-dark;
			}

		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 650px) {

	.skill-filters {

		.filter-item {
			font-size: 1em;
		}

	}

	.skills-container {
		grid-row-gap: 32px;

		.skill {
			grid-template-columns: 64px 1fr;

			&__icon {
				height: 64px;
				width: 64px;

				img {
					width: 40px;
					height: 40px;
				}

			}

			&__info {

				p {
					font-size: 1.2em;
				}

				span {
					font-size: 1em;
				}

			}

		}

	}

}