///////////////////////////////////
///////////---Work---//////////////
///////////////////////////////////

.work-container {

	.work-item {
		@include grid;
		grid-template-columns: 640px 1fr;
		grid-gap: 40px;
		background-color: $white;
		color: $text-light;
		transition: all .3s ease;
		border: 1px solid rgba($border-light, .1);
		text-decoration: none;
		margin-bottom: 56px;

		&__image {

			&--purple {
				background: linear-gradient(85deg, #06124C 0%, #3B1DB4 100%);
			}

			&--blue {
				background: linear-gradient(45deg, rgba(98, 191, 237, 1) 0%, rgba(66, 88, 203, 1) 100%);
			}

			&--blue-reverse {
				background: linear-gradient(45deg, #4258CB 0%, #62BFED 100%);
			}

			&--grey {
				background: linear-gradient(239deg, rgba(228, 234, 241, 0.75) 0%, rgba(228, 234, 241, 0.00) 100%);
			}

			&--red {
				background: linear-gradient(45deg, rgba(240, 96, 122, 1) 0%, rgba(232, 49, 81, 1) 100%);
			}

			&--dark-teal {
				background: linear-gradient(45deg, rgba(36, 169, 197, 1) 0%, rgba(7, 113, 135, 1) 100%)
			}

		}

		img {
			width: 100%;
			object-fit: scale-down;
		}

		&__info {
			@include flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 28px 40px 28px 0px;

			&__heading {
				font-family: $text-font;
				font-size: 28px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			&__description {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.5em;
				text-decoration: none;

				&:first-of-type {
					margin-bottom: 12px;
				}

			}

			ul {
				margin-top: 12px;

				li::marker {
					font-size: 12px;
					margin-bottom: 1px;
				}

			}

		}

		&__tags {
			@include flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 12px;

			.work-tag {
				@include flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
				background-color: $lightest-grey;
				padding: 8px 16px;
				font-size: 14px;
				font-weight: 400;
				transition: background-color .4s ease;

				i {
					font-size: 16px;

					&.ph-users-three {
						font-size: 18px;
					}

				}

			}

		}

	}

	// Only work-items that are links
	a.work-item {
		
		&:hover {
			// transform: translateY(-3px);
			box-shadow: 2px 4px 16px 0px rgba($text-light, .05);
			border: 1px solid rgba($border-light, .15);
		}

		.work-item__info {

			&__heading {
				text-decoration: underline;
			}

		}

	}

}

.show-on-tablet {
	display: none;				
}

///////////////////////////////////
///////////---Dark---//////////////
///////////////////////////////////

body.dark {

	.work-container {

		.work-item {
			background-color: $bg-lvl-1-dark;
  
			&__image {
				// background: rgba($white, .05) !important;

				&--grey {

					img {
						background: linear-gradient(239deg, #FFF 0%, rgba(255, 255, 255, 0.75) 100%);
						border-radius: 6px;
					}

				}

			}

			&__info {

				&__heading {
					color: $headings-dark;
					font-weight: 500;
				}

				&__description {
					color: $text-dark;
				}

			}

			&__tags {

				.work-tag {
					background-color: rgba($white, .08);
					color: $text-dark;
				}

			}

		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 1300px) {

	.work-container {

		.work-item {
			grid-template-columns: 500px 1fr;

			&__info {

				&__heading {
					margin-bottom: 20px;
				}

			}

		}

	}

}

@media only screen and (max-width: 1080px) {

	.work-container {

		.work-item {
			grid-template-columns: 1fr;
			grid-gap: 0px;

			&__info {
				padding: 32px 40px;
				gap: 40px;

				&__heading {
					font-size: 24px;
				}

			}

		}

		.show-on-tablet {
			display: block;				
		}

		.hide-on-tablet {
			display: none;				
		}

	}

}

@media only screen and (max-width: 768px) {

	.work-container {

		.work-item {
			
			&__info {
				padding: 32px $hz-padding-tablet;
			}

		}

		.show-on-tablet {
			display: none;				
		}

		.hide-on-tablet {
			display: block;				
		}

	}

}

@media only screen and (max-width: 650px) {

	.work-container {

		.work-item {
			
			&__info {
				padding: 32px $hz-padding-mobile;
			}

		}

	}

}