////////////////////////////////////
///////////---Imports---////////////
////////////////////////////////////
@import './variables';
@import './nav';
@import './about';
@import './work';
@import './skills';
@import './experience';
@import './footer';

/////////////////////////////////////
///////////---General---/////////////
/////////////////////////////////////


////////////////////////////////////
////////////---Body---//////////////
////////////////////////////////////

html {
	scroll-behavior: smooth;
	scroll-padding-top: $nav-height;
}

body {
	font-family: $text-font;
	background-color: $background-light;
	font-size: 16px;
	color: $text-light;
	font-weight: 300;
	transition: background-color .4s ease, color .4s ease;
}

.italic-text {
	font-style: italic;
}

.display-none {
	display: none !important;
}

.bold-text {
	font-weight: 600;
}

.bold-text-500 {
	font-weight: 500;
}

.color-complementary-2 {
	color: $complementary-2-light;
}

.color-complementary {
	color: $complementary-light;
}

.text-link {
	text-decoration: underline;
	color: $primary-light;
	font-weight: 400;
}

.h1, .h2, .h3, .h4, .h5 {
	font-family: $heading-font;
	transition: color .4s ease;
}

a, button, label {

	&:focus-visible {
		@include focusStyling;
	}

}

////////////////////////////////////
///////////---Layout---/////////////
////////////////////////////////////

main {
	margin-top: $nav-height;
}

section {
	min-height: calc(100vh - #{$nav-height});
	position: relative;
	transition: background-color .4s ease;
}

.section-content {
	padding: 24px 40px;
	margin: auto;
	// margin-bottom: 120px;
	width: 100%;
	max-width: 1200px;

	&.about {
		padding: 6% 40px 24px 40px;
	}

	&.work, &.skills, &.experience {
		max-width: 1440px;
	}

	&.experience {
		max-width: 880px;
	}

	&.skills {
		padding-top: 260px;
		padding-bottom: 320px;
	}

}

.svg-background {
	position: absolute;
  display: block;
  overflow: hidden;
  z-index: -1;
  left: 0px;

  &--about {
  	bottom: 0px;
  }

  &--work {
    top: 0px;
  }

  &--skills {
    top: 0px;

    &-bottom {
    	bottom: 0px;
    }

  }

  &--experience {
    top: 0px;
    position: relative;
  }

  &--footer {
  	// top: 0px;
  }

}

.section-heading {
	@include flex;
	align-items: center;
	margin-bottom: 32px;

	span {
		font-size: 2.5em;
		font-weight: 300;
		color: $primary-light;
	}

	h1 {
		font-family: $heading-font;
		font-size: 3.2em;
		color: $headings-light;
		padding-left: 6px;
	}

}

.button {
	text-decoration: none;
	display: block;
	width: fit-content;
	cursor: pointer;
	border-radius: $border-radius-buttons;
	color: $white;
	padding: 6px 20px;
	font-size: 1.1em;
	font-weight: 400;
	background-color: $white;
	border: 1px solid $primary-light;
	color: $primary-light;
	transition: color .4s ease,
							background-position .4s ease,
							background-color .4s ease;

	&--primary {
		padding: 8px 20px;
		background: $primary-light;
		background-size: 200% 100%;
		background-image: linear-gradient(to right, #2C3FA0, #4258CB);
		border: 0px;
		color: $white;
		
		&:hover {
			background-position: -100% 0;
		}

	}

	&:hover {
		background-color: $primary-light;
		color: $white;
	}

	i {
		font-size: 1.2em;
		margin-left: 8px;
	}

}

////////////////////////////////////
////////////---Dark---//////////////
////////////////////////////////////

body.dark {
	background-color: $background-dark;
	color: $text-dark;

	.color-primary {
		color: $primary-dark;
	}

	.color-complementary {
		color: $complementary-dark;
	}

	.text-link {
		color: $primary-dark;
	}

	.button--primary {
		background-color: $primary-dark;
		background-image: linear-gradient(to right, #62BFED, #A4D9F4);
		border-color: $primary-dark;
		color: $headings-light;
		font-weight: 500;
	}

	.svg-background {

		path {
			fill: $white;
			fill-opacity: .08;
		}

	}

	.section-heading {

		span {
			color: $primary-dark;
		}

		h1 {
			color: $headings-dark;
		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 820px) {

	section {
		min-height: 800px;

		&#about {
			min-height: 560px;
		}

	}

}

@media only screen and (max-width: 760px) { // Break point for nav change
	html {
		scroll-padding-top: $nav-height-mobile;
	}
	section {
		&#about {
			min-height: 560px;
			.career-path {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 650px) { // Break point for mobile

	.section-content {
		padding-left: 24px !important;
		padding-right: 24px !important;
	}

	.section-heading {

		span {
			font-size: 2em;
		}

		h1 {
			font-size: 2.5em;
		}

	}

}