////////////////////////////////////
///////////---Imports---////////////
////////////////////////////////////
@import './variables';
@import './nav';
@import './about';
@import './work';
@import './experience';
@import './footer';

/////////////////////////////////////
///////////---General---/////////////
/////////////////////////////////////


////////////////////////////////////
////////////---Body---//////////////
////////////////////////////////////

html {
	scroll-behavior: smooth;
	scroll-padding-top: $nav-height;
}

body {
	font-family: $text-font;
	background-color: $background-light;
	font-size: $body-text;
	color: $text-light;
	font-weight: 300;
	transition: background-color .4s ease, color .4s ease;
}

.italic-text {
	font-style: italic;
}

.display-none {
	display: none !important;
}

.bold-text {
	font-weight: 600;
}

.bold-text-500 {
	font-weight: 500;
}

.color-complementary-2 {
	color: $complementary-2-light;
}

.color-complementary {
	color: $complementary-light;
}

.text-link {
	text-decoration: underline;
	color: $primary-light;

	&--black {
		color: $text-light;

		&:hover {
			color: $primary-light;
		}

	}

}

.h1, .h2, .h3, .h4, .h5 {
	font-family: $heading-font;
	transition: color .4s ease;
}

.scroll-lock {
	overflow: hidden !important;
}

a {
	transition: color .2s ease;
}

a, button, label {

	&:focus-visible {
		@include focusStyling;
	}

}

////////////////////////////////////
///////////---Layout---/////////////
////////////////////////////////////

main {
	margin-top: $nav-height;
}

section {
	transition: background-color .4s ease;
}

.section-content {
	padding: 0px $hz-padding-desktop;
	margin: auto;
	width: 100%;
	max-width: $content-width;

	&.about {
		padding-top: 80px;
		padding-bottom: 160px;
	}

	&.work {
		padding-bottom: 200px;
	}

}

.section-heading {
	@include flex;
	align-items: center;
	margin-bottom: 32px;
	font-family: $heading-font;

	span {
		font-size: 24px;
		font-weight: 300;
		color: $primary-light;
	}

	h2 {
		font-size: 24px;
		font-weight: 500;
		color: $headings-light;
		padding-left: 4px;
	}

}

.bg-lines {
	@include flex;
	width: 100%;
	max-width: $content-width;
	margin: auto;
	z-index: -1;
	justify-content: space-between;
	position: fixed;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	padding: 0px $hz-padding-desktop;

	.line {
		width: 1px;
		height: 100%;
		background-color: rgba(4,8,14,.04);
	}

}

////////////////////////////////////
////////////---Dark---//////////////
////////////////////////////////////

body.dark {
	background-color: $background-dark;
	color: $text-dark;

	.color-primary {
		color: $primary-dark;
	}

	.color-complementary {
		color: $complementary-dark;
	}

	.text-link {
		color: $primary-dark;
	}

	.section-heading {

		span {
			color: $primary-dark;
		}

		h2 {
			color: $headings-dark;
		}

	}

	.bg-lines {

		.line {
			background-color: rgba($white, .05);
		}

	}

}

/////////////////////////////////////////////
////////////---Media Queries---//////////////
/////////////////////////////////////////////

@media only screen and (max-width: 992px) {

	.bg-lines {

		.line {

			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)  {
				display: none;
			}

		}

	}

}

@media only screen and (max-width: 760px) { // Break point for nav change
	html {
		scroll-padding-top: $nav-height-mobile;
	}
}

@media only screen and (max-width: 650px) { // Break point for mobile

	.section-content {
		padding-left: $hz-padding-mobile !important;
		padding-right: $hz-padding-mobile !important;

		&.about {
			padding-top: 48px;
			padding-bottom: 100px;
		}

		&.work {
			padding-bottom: 100px;
		}

	}

	.bg-lines {
		padding-left: $hz-padding-mobile !important;
		padding-right: $hz-padding-mobile !important;

		.line {

			&:nth-child(5), &:nth-child(6), &:nth-child(7)  {
				display: none;
			}

		}

	}

}