.skip-nav {
  position: absolute;
  left: -140px;
  top: calc(104px + 16px);
  font-size: 1em;
  color: #04080F;
  z-index: 99999; }
  .skip-nav:focus, .skip-nav:focus-visible {
    left: 24px; }

nav.desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 104px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  background-color: #FDFDFE;
  margin: auto;
  transition: background-color .4s ease, color .4s ease, box-shadow .4s ease, height .4s ease; }
  nav.desktop-nav .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1360px;
    padding: 24px 40px; }
  nav.desktop-nav--min {
    height: 64px;
    background-color: rgba(253, 253, 254, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(4, 8, 15, 0.04); }
    nav.desktop-nav--min .inner {
      padding: 12px 40px; }
    nav.desktop-nav--min .nav-bio__image {
      height: 0px;
      width: 0px; }
    nav.desktop-nav--min .theme-button {
      height: 40px;
      width: 40px; }
      nav.desktop-nav--min .theme-button i {
        font-size: 18px; }
    nav.desktop-nav--min .nav-link {
      font-size: 16px; }
    nav.desktop-nav--min .menu-button i {
      font-size: 36px; }
  nav.desktop-nav.shadow {
    box-shadow: 2px 4px 12px rgba(4, 8, 15, 0.03); }

.nav-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  font-family: "Heebo", sans-serif;
  gap: 16px; }
  .nav-bio__image {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    transition: height .4s ease, width .4s ease, opacity .4s ease;
    opacity: 1;
    position: absolute; }
    .nav-bio__image--dark {
      opacity: 0;
      visibility: hidden; }

.nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 40px; }

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0px;
  padding: 0px; }

.nav-link {
  display: inline-block;
  font-family: "Heebo", sans-serif;
  font-size: 20px;
  white-space: nowrap;
  transition: font-size .4s ease; }
  .nav-link__number {
    color: #4258CB;
    font-weight: 300;
    text-decoration: none;
    transition: color .4s ease; }
  .nav-link__link {
    color: #04080F;
    font-weight: 500;
    transition: color .4s ease;
    text-decoration: none;
    position: relative; }
    .nav-link__link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      margin-top: 10px;
      opacity: 0;
      background-color: #04080F;
      transition: opacity .4s ease, width .4s ease; }
    .nav-link__link:hover::after, .nav-link__link:focus::after {
      width: 100%;
      opacity: 1; }

.theme-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  border: 0px;
  background-image: url("../media/dark-sky-bg.png");
  background-size: 60px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color .4s ease, height .4s ease, weidth .4s ease, background-position .4s ease; }
  .theme-button:hover {
    background-color: rgba(66, 88, 203, 0.15);
    background-position-y: -4px; }
  .theme-button:focus-visible {
    border-radius: 100%; }
  .theme-button i {
    font-size: 26px;
    transition: font-size .4s ease, color .4s ease; }
  .theme-button--dark {
    background-image: url("../media/blue-sky-bg.png"); }
    .theme-button--dark i {
      color: #FAC619; }

.menu-button {
  align-items: center;
  justify-content: center;
  border: 0px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  padding: 0px;
  padding-top: 2px;
  cursor: pointer; }
  .menu-button i {
    font-size: 44px;
    color: #04080F;
    transition: font-size .4s ease; }
  .menu-button--open {
    display: none; }
  .menu-button--close {
    padding-top: 0px;
    margin-bottom: 4px; }
    .menu-button--close i {
      font-size: 36px; }

.mobile-nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -280px;
  z-index: 999999;
  width: 280px;
  min-height: 620px;
  box-shadow: -10px 4px 28px 0px rgba(4, 8, 15, 0.08);
  transition: all .4s ease;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
  padding: 0px 24px; }
  .mobile-nav--visible {
    right: 0px; }
  .mobile-nav__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    margin-bottom: 32px; }
  .mobile-nav__links .nav-links {
    display: block;
    padding-left: 8px;
    margin-bottom: 48px; }
    .mobile-nav__links .nav-links .nav-link {
      display: block;
      margin-bottom: 32px;
      font-size: 1.3em; }
      .mobile-nav__links .nav-links .nav-link:last-of-type {
        margin-bottom: 0px; }
  .mobile-nav .experience-links {
    border: 0px;
    border-top: 1px solid rgba(4, 8, 15, 0.05);
    border-radius: 0px;
    padding: 24px 0px;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 48px); }

footer {
  font-size: 14px;
  font-weight: 400;
  padding: 48px 40px;
  margin-top: 100px; }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    font-weight: 300; }
    footer .footer i {
      font-weight: 200;
      font-size: 20px; }
    footer .footer-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 3px;
      justify-content: center;
      align-items: center;
      font-weight: 300; }
      footer .footer-left i {
        font-weight: 200;
        font-size: 20px; }

body.dark nav.desktop-nav {
  background-color: #04080F;
  color: #ffffff;
  box-shadow: none; }
body.dark nav .nav-link__link {
  color: #ffffff; }
  body.dark nav .nav-link__link::after {
    background-color: #ffffff; }
body.dark nav .nav-link__number {
  color: #62BFED; }
body.dark .mobile-nav {
  background-color: #181C22;
  box-shadow: -10px 4px 28px 0px rgba(4, 8, 15, 0.5); }
  body.dark .mobile-nav .experience-links {
    background-color: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
body.dark .menu-button i {
  color: #fff; }
body.dark .nav-bio__image--dark {
  opacity: 1;
  visibility: visible; }
body.dark .nav-bio__image--light {
  opacity: 0;
  visibility: hidden; }

@media only screen and (max-width: 768px) {
  .nav-links-container {
    gap: 24px; }

  nav.desktop-nav .nav-links {
    display: none; }

  #dark_button_mobile {
    display: none; }

  .menu-button--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }
@media only screen and (max-width: 650px) {
  nav.desktop-nav .inner {
    padding-left: 24px !important;
    padding-right: 24px !important; }
  nav.desktop-nav .theme-button {
    display: none; }

  footer .footer {
    display: block;
    text-align: center; }
    footer .footer-left {
      margin-bottom: 16px; } }
.about {
  align-items: center; }
  .about h1 {
    font-size: 44px;
    font-weight: 300;
    max-width: 940px; }

body.dark {
  background-color: #04080F;
  color: rgba(255, 255, 255, 0.8); }
  body.dark .about__bio p {
    color: rgba(255, 255, 255, 0.8); }
  body.dark .about__bio h2 {
    color: #fff; }
  body.dark .about .career-path {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.08); }
    body.dark .about .career-path__divider {
      border-color: rgba(255, 255, 255, 0.2); }
    body.dark .about .career-path__button {
      background-color: rgba(255, 255, 255, 0.05);
      border-top: 0px; }
      body.dark .about .career-path__button__a {
        color: #62BFED; }
  body.dark .about .career-item--active .career-item__dot {
    background-color: #00B295; }
  body.dark .about .career-item__dot {
    border: 0px; }
  body.dark .about .career-item__info span {
    color: rgba(255, 255, 255, 0.6); }
  body.dark .about .career-item__info p {
    color: #fff; }

@media only screen and (max-width: 992px) {
  .about h1 {
    font-size: 36px; }
    .about h1 br {
      display: none; } }
@media only screen and (max-width: 800px) {
  .about h1 {
    font-size: 28px; } }
.work-container .work-item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 640px 1fr;
  grid-gap: 40px;
  background-color: #ffffff;
  color: #04080F;
  transition: all .3s ease;
  border: 1px solid rgba(4, 8, 15, 0.1);
  text-decoration: none;
  margin-bottom: 56px; }
  .work-container .work-item__image--purple {
    background: linear-gradient(85deg, #06124C 0%, #3B1DB4 100%); }
  .work-container .work-item__image--blue {
    background: linear-gradient(45deg, #62bfed 0%, #4258cb 100%); }
  .work-container .work-item__image--blue-reverse {
    background: linear-gradient(45deg, #4258CB 0%, #62BFED 100%); }
  .work-container .work-item__image--grey {
    background: linear-gradient(239deg, rgba(228, 234, 241, 0.75) 0%, rgba(228, 234, 241, 0) 100%); }
  .work-container .work-item__image--red {
    background: linear-gradient(45deg, #f0607a 0%, #e83151 100%); }
  .work-container .work-item__image--dark-teal {
    background: linear-gradient(45deg, #24a9c5 0%, #077187 100%); }
  .work-container .work-item img {
    width: 100%;
    object-fit: scale-down; }
  .work-container .work-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 40px 28px 0px; }
    .work-container .work-item__info__heading {
      font-family: "Noto Sans", sans-serif;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px; }
    .work-container .work-item__info__description {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.5em;
      text-decoration: none; }
      .work-container .work-item__info__description:first-of-type {
        margin-bottom: 12px; }
    .work-container .work-item__info ul {
      margin-top: 12px;
      padding-left: 24px; }
      .work-container .work-item__info ul li::marker {
        font-size: 12px;
        margin-bottom: 1px; }
  .work-container .work-item__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px; }
    .work-container .work-item__tags .work-tag {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      background-color: #F2F5F9;
      padding: 8px 16px;
      font-size: 14px;
      font-weight: 400;
      transition: background-color .4s ease; }
      .work-container .work-item__tags .work-tag i {
        font-size: 16px; }
        .work-container .work-item__tags .work-tag i.ph-users-three {
          font-size: 18px; }
.work-container a.work-item:hover {
  box-shadow: 2px 4px 16px 0px rgba(4, 8, 15, 0.05);
  border: 1px solid rgba(4, 8, 15, 0.15); }
.work-container a.work-item .work-item__info__heading {
  text-decoration: underline; }

.show-on-tablet {
  display: none; }

body.dark .work-container .work-item {
  background-color: #181C22; }
  body.dark .work-container .work-item__image--grey img {
    background: linear-gradient(239deg, #FFF 0%, rgba(255, 255, 255, 0.75) 100%);
    border-radius: 6px; }
  body.dark .work-container .work-item__info__heading {
    color: #fff;
    font-weight: 500; }
  body.dark .work-container .work-item__info__description {
    color: rgba(255, 255, 255, 0.8); }
  body.dark .work-container .work-item__tags .work-tag {
    background-color: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.8); }

@media only screen and (max-width: 1300px) {
  .work-container .work-item {
    grid-template-columns: 500px 1fr; }
    .work-container .work-item__info__heading {
      margin-bottom: 16px; } }
@media only screen and (max-width: 1080px) {
  .work-container .work-item {
    grid-template-columns: 1fr;
    grid-gap: 0px; }
    .work-container .work-item__info {
      padding: 32px 40px;
      gap: 40px; }
      .work-container .work-item__info__heading {
        font-size: 24px; }
  .work-container .show-on-tablet {
    display: block; }
  .work-container .hide-on-tablet {
    display: none; } }
@media only screen and (max-width: 768px) {
  .work-container .work-item__info {
    padding: 32px 32px; }
  .work-container .show-on-tablet {
    display: none; }
  .work-container .hide-on-tablet {
    display: block; } }
@media only screen and (max-width: 650px) {
  .work-container .work-item__info {
    padding: 32px 24px; } }
section#experience {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(11, 1fr);
  align-items: start;
  padding: 0px 40px;
  max-width: 1360px;
  margin: auto; }

.section-content.experience {
  padding: 0px;
  grid-column: 3 / 10; }

.experience-outer {
  border: 1px solid rgba(4, 8, 15, 0.1);
  background-color: #ffffff;
  transition: background-color .4s ease; }

.centered-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(4, 8, 15, 0.1);
  padding: 24px 0px; }

.experience-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 880px;
  padding: 0px 40px;
  gap: 56px; }
  .experience-links .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 8px; }
    .experience-links .link-container img {
      max-width: 36px; }
    .experience-links .link-container i {
      font-size: 1.1em; }
    .experience-links .link-container a {
      color: #04080F;
      font-weight: 400;
      font-size: 16px; }
      .experience-links .link-container a:hover {
        color: #4258CB; }
    .experience-links .link-container .ph-linkedin-logo {
      color: #0072B1 !important; }
  .experience-links__divider {
    height: 16px;
    width: 1px;
    background-color: rgba(4, 8, 15, 0.2); }

.experience-container hr.experience-divider {
  background-color: rgba(4, 8, 15, 0.06);
  border: 0 none;
  color: rgba(4, 8, 15, 0.06);
  height: 1px; }
.experience-container .experience-item {
  width: 100%;
  max-width: 880px;
  margin: auto;
  padding: 48px 40px; }
  .experience-container .experience-item__header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
    font-size: 16px; }
    .experience-container .experience-item__header__info a {
      color: #4258CB;
      font-weight: 400; }
  .experience-container .experience-item__header h3 {
    font-family: "Heebo", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.3em; }
  .experience-container .experience-item__list {
    line-height: 1.6em;
    font-weight: 400;
    padding-left: 24px;
    font-size: 16px; }
    .experience-container .experience-item__list li {
      font-weight: 300;
      margin-bottom: 8px; }

body.dark .experience-outer {
  background-color: #181C22; }
body.dark .centered-links {
  border-bottom: 1px solid rgba(255, 255, 255, 0.06); }
body.dark .experience-links .link-container a {
  color: rgba(255, 255, 255, 0.8); }
body.dark .experience-links .link-container i {
  color: #fff; }
body.dark .experience-container .experience-item__header__info a {
  color: #62BFED; }
body.dark .experience-container .experience-item__header h3 {
  color: #fff; }
body.dark .experience-container .experience-divider {
  background-color: rgba(255, 255, 255, 0.04); }

@media only screen and (max-width: 1200px) {
  .section-content.experience {
    grid-column: 2 / 11; } }
@media only screen and (max-width: 1080px) {
  section#experience {
    display: block;
    padding: 0px; }

  .section-content.experience {
    padding: 0px 40px; } }
@media only screen and (max-width: 768px) {
  .experience-container .experience-item {
    padding: 40px 32px; }

  .centered-links {
    margin-bottom: 8px; }

  .experience-links {
    display: block;
    padding: 0px 32px; }
    .experience-links__divider {
      display: none; }
    .experience-links .link-container {
      margin-bottom: 24px; }
      .experience-links .link-container:last-of-type {
        margin-bottom: 0px; }
      .experience-links .link-container--icon {
        margin-left: 5px;
        gap: 14px; }
      .experience-links .link-container i {
        font-size: 26px;
        padding-top: 2px; } }
@media only screen and (max-width: 650px) {
  .experience-container .experience-item {
    padding: 24px 24px;
    font-size: 16px; }
    .experience-container .experience-item__header h3 {
      font-size: 24px; }

  .experience-links {
    padding: 0px 24px; }
    .experience-links .link-container {
      margin-bottom: 20px; } }
footer .nav-bio {
  padding-top: 18%;
  padding-bottom: 32px;
  justify-content: center;
  gap: 12px; }
  footer .nav-bio i {
    font-size: 1.4em; }
  footer .nav-bio span {
    font-weight: 400; }

@media only screen and (max-width: 650px) {
  footer .nav-bio {
    padding-top: 100px; }
    footer .nav-bio h3 {
      font-size: 1.2em; } }
html {
  scroll-behavior: smooth;
  scroll-padding-top: 104px; }

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #FDFDFE;
  font-size: 18px;
  color: #04080F;
  font-weight: 300;
  transition: background-color .4s ease, color .4s ease; }

.italic-text {
  font-style: italic; }

.display-none {
  display: none !important; }

.bold-text {
  font-weight: 600; }

.bold-text-500 {
  font-weight: 500; }

.color-complementary-2 {
  color: #FB4D3D; }

.color-complementary {
  color: #1B9AAA; }

.text-link {
  text-decoration: underline;
  color: #4258CB; }
  .text-link--black {
    color: #04080F; }
    .text-link--black:hover {
      color: #4258CB; }

.h1, .h2, .h3, .h4, .h5 {
  font-family: "Heebo", sans-serif;
  transition: color .4s ease; }

.scroll-lock {
  overflow: hidden !important; }

a {
  transition: color .2s ease; }

a:focus-visible, button:focus-visible, label:focus-visible {
  outline: 2px dashed #04080F;
  outline-offset: 4px;
  border-radius: 1px; }

main {
  margin-top: 104px; }

section {
  transition: background-color .4s ease; }

.section-content {
  padding: 0px 40px;
  margin: auto;
  width: 100%;
  max-width: 1360px; }
  .section-content.about {
    padding-top: 80px;
    padding-bottom: 160px; }
  .section-content.work {
    padding-bottom: 200px; }

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-family: "Heebo", sans-serif; }
  .section-heading span {
    font-size: 24px;
    font-weight: 300;
    color: #4258CB; }
  .section-heading h2 {
    font-size: 24px;
    font-weight: 500;
    color: #04080F;
    padding-left: 4px; }

.bg-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1360px;
  margin: auto;
  z-index: -1;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  padding: 0px 40px; }
  .bg-lines .line {
    width: 1px;
    height: 100%;
    background-color: rgba(4, 8, 14, 0.04); }

body.dark {
  background-color: #04080F;
  color: rgba(255, 255, 255, 0.8); }
  body.dark .color-primary {
    color: #62BFED; }
  body.dark .color-complementary {
    color: #00B295; }
  body.dark .text-link {
    color: #62BFED; }
  body.dark .section-heading span {
    color: #62BFED; }
  body.dark .section-heading h2 {
    color: #fff; }
  body.dark .bg-lines .line {
    background-color: rgba(255, 255, 255, 0.05); }

@media only screen and (max-width: 992px) {
  .bg-lines .line:nth-child(1), .bg-lines .line:nth-child(2), .bg-lines .line:nth-child(3), .bg-lines .line:nth-child(4) {
    display: none; } }
@media only screen and (max-width: 760px) {
  html {
    scroll-padding-top: 88px; } }
@media only screen and (max-width: 650px) {
  .section-content {
    padding-left: 24px !important;
    padding-right: 24px !important; }
    .section-content.about {
      padding-top: 48px;
      padding-bottom: 100px; }
    .section-content.work {
      padding-bottom: 100px; }

  .bg-lines {
    padding-left: 24px !important;
    padding-right: 24px !important; }
    .bg-lines .line:nth-child(5), .bg-lines .line:nth-child(6), .bg-lines .line:nth-child(7) {
      display: none; } }

/*# sourceMappingURL=main.css.map */
